@font-face {
  font-family: "InterR";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "InterM";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "InterS";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "InterB";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "InterE";
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsR";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsM";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsRI";
  font-display: swap;
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PoppinsMI";
  font-display: swap;
  src: url("../../fonts/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "PoppinsS";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsB";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PoppinsE";
  font-display: swap;
  src: url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "HalveticaM";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HalveticaN";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansR";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "WorkSansR";
  font-display: swap;
  src: url("../fonts/Worksans.woff") format("woff"), url("../fonts/Worksans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "WorkSansB";
  font-display: swap;
  src: url("../fonts/Worksanssemibold.woff") format("woff"), url("../fonts/Worksanssemibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.nft-main {
  padding: 150px 90px;
  background-image: url("../../../img/bg/top_left_gradient.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nft-main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nft-main > div > div:last-of-type {
  position: absolute;
  right: 0;
}
.nft-main > div > div:last-of-type img {
  position: absolute;
}
.nft-main > div > div:last-of-type img:first-of-type {
  right: 0;
  z-index: 10;
}
.nft-main > div > div:last-of-type img:last-of-type {
  right: 300px;
  z-index: 5;
}
.nft-main > div .section__progress-bar {
  margin-bottom: 20px;
}
.nft-main h1,
.nft-main p {
  margin-bottom: 30px;
}
.nft-main .section__button_white {
  padding: 25px 30px;
}
.nft-main .section__button_violet {
  padding: 10px 30px;
  margin-bottom: 20px;
}

@media (max-width: 1366px) {
  .nft-main {
    padding-bottom: 50px;
  }
  .nft-main > div > div:last-of-type > img:first-of-type {
    right: 0;
    z-index: 10;
    width: 407px;
  }
  .nft-main > div > div:last-of-type > img:last-of-type {
    right: 130px;
    width: 450px;
    z-index: 5;
  }
}
@media (max-width: 1024px) {
  .nft-main p {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .nft-main {
    padding: 70px 30px 0;
    width: 100%;
  }
  .nft-main p {
    max-width: 100%;
  }
  .nft-main > div {
    flex-direction: column;
    width: 100%;
  }
  .nft-main > div > div:last-of-type {
    display: flex;
    position: static;
    height: 450px;
  }
  .nft-main > div > div:last-of-type > img:last-of-type {
    position: absolute;
    right: 130px;
    width: 450px;
    z-index: 5;
  }
  .nft-main .section__button_white {
    width: 100%;
    margin-bottom: 60px;
  }
  .nft-main .section__button_violet {
    padding: 10px 30px;
    margin-bottom: 20px;
  }
}
.nft-holder {
  padding: 100px 90px 0;
  margin-bottom: 60px;
}
.nft-holder h1 {
  text-align: center;
  margin-bottom: 70px;
}
.nft-holder .section__group-holder {
  display: grid;
  gap: 50px 20px;
  grid-template: repeat(2, 1fr)/repeat(6, 1fr);
}
.nft-holder .section__card-holder {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  gap: 25px;
  background: linear-gradient(126deg, rgb(33, 33, 33) 0%, rgb(0, 0, 0) 100%);
  border: 1px solid rgb(43, 43, 43);
  border-radius: 20px;
  grid-column: span 2;
}
.nft-holder .section__card-holder:nth-child(4) {
  grid-column: 2/span 2;
}
.nft-holder .section__card-holder img {
  width: 72px;
  height: 72px;
}
.nft-holder .section__card-holder p {
  font-family: "InterR", sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .nft-holder {
    padding: 70px 30px 0;
  }
  .nft-holder h1 {
    text-align: left;
    margin-bottom: 50px;
  }
  .nft-holder .section__group-holder {
    gap: 20px;
    grid-template: repeat(5, 1fr)/1fr;
  }
  .nft-holder .section__card-holder:nth-child(4) {
    grid-column: span 2;
  }
  .nft-holder .section__card-holder p {
    font-size: 16px;
  }
}
.nft-structure {
  padding: 100px 90px;
}
.nft-structure > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft-structure > div .mobile_card {
  display: none;
}
.nft-structure h1,
.nft-structure h6 {
  margin-bottom: 50px;
}
.nft-structure h6 {
  color: #9e9dfe;
}
.nft-structure h6 + img {
  margin-bottom: 30px;
}

@media (max-width: 1240px) {
  .nft-structure h1,
  .nft-structure h6 {
    margin-bottom: 30px;
  }
  .nft-structure > div {
    align-items: flex-start;
    flex-direction: column;
  }
  .nft-structure > div .mobile_card {
    display: block;
    margin-bottom: 30px;
  }
  .nft-structure > div .desk_card {
    display: none;
  }
  .nft-structure > div .table {
    overflow-x: auto;
    -ms-overflow-style: none;
    margin-bottom: 30px;
  }
  .nft-structure > div .table::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 1024px) {
  .nft-structure {
    padding: 70px 30px 0;
  }
}
@media (max-width: 576px) {
  .nft-structure > div .mobile_card {
    width: 83vw;
  }
}
.nft-tiers {
  padding: 50px 100px 90px;
}
.nft-tiers h1 {
  margin-bottom: 50px;
  text-align: center;
}
.nft-tiers h5 {
  text-transform: uppercase;
}
.nft-tiers > div {
  display: flex;
  gap: 20px;
}
.nft-tiers > div .card {
  width: 384px;
  height: 639px;
  border-radius: 32px;
  background: rgb(33, 33, 33);
  background: linear-gradient(126deg, rgb(33, 33, 33) 0%, rgb(0, 0, 0) 100%);
}
.nft-tiers > div .card-info {
  padding: 20px 30px;
}
.nft-tiers > div .card-tag {
  font-size: 12px;
  margin-bottom: 10px;
}
.nft-tiers > div .card-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.nft-tiers > div .card-price p {
  font-size: 14px;
  font-family: "PoppinsB", sans-serif;
}
.nft-tiers > div .card-price p:first-of-type {
  color: #c8c8c8;
  margin-right: 10px;
}
.nft-tiers > div .card-price img {
  width: 16px;
  height: 16px;
}
.nft-tiers > div .card-price p:last-of-type {
  color: #9e9dfe;
  margin-left: 3px;
}
.nft-tiers > div .card .section__button_white {
  height: 50px;
  width: 100%;
}

@media (max-width: 1366px) {
  .nft-tiers {
    height: 850px;
  }
  .nft-tiers > div {
    position: absolute;
    left: 0;
    overflow-x: auto;
    -ms-overflow-style: none;
  }
  .nft-tiers > div::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 1024px) {
  .nft-tiers {
    padding: 70px 30px;
    margin-bottom: 50px;
  }
  .nft-tiers h1 {
    text-align: left;
  }
}
.nft-token {
  padding: 0 100px 90px;
}
.nft-token h1 {
  margin-bottom: 20px;
  text-align: center;
}
.nft-token > p {
  text-align: center;
  max-width: 715px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.nft-token > div {
  display: flex;
  gap: 20px;
}
.nft-token .card-token {
  padding: 15px 25px 20px;
  width: 384px;
  border: 1px solid #282828;
  border-radius: 20px;
  background: rgb(33, 33, 33);
  background: linear-gradient(126deg, rgb(33, 33, 33) 0%, rgb(0, 0, 0) 100%);
}
.nft-token .card-token h6 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #9e9dfe;
}
.nft-token .card-token p {
  font-family: "InterR", sans-serif;
}

@media (max-width: 1024px) {
  .nft-structure h1 {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .nft-structure {
    padding: 70px 30px 0;
  }
}
.nft-collage {
  padding: 0 100px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nft-collage > div {
  margin-bottom: 70px;
}
.nft-collage button {
  align-self: center;
  padding: 25px 30px;
  margin-bottom: 90px;
}

.button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  font-family: "InterS", sans-serif;
  background: rgba(255, 255, 255, 0.01);
  font-size: 14px;
  letter-spacing: 0.28px;
}

.button {
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.section__button_white {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
}
.section__button_white:hover {
  background-color: rgba(56, 56, 56, 0.319);
  border: 1px solid #fff;
  color: #fff;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.section__button_violet {
  color: #fff;
  background: rgb(158, 157, 254);
  background: linear-gradient(90deg, rgb(158, 157, 254) 0%, rgb(237, 86, 141) 100%);
  display: inline-block;
}
.bg-light-violet {
  position: relative;
  top: 0;
  left: 0;
}

footer {
  position: absolute;
  bottom: 19px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 11;
  padding: 0 20px;
}
footer p {
  font-size: 16px;
  line-height: 27px;
  opacity: 0.5;
  letter-spacing: -0.32px;
  font-family: "InterR", sans-serif;
  text-transform: uppercase;
}
footer > div, footer > div a {
  font-size: 14px;
  font-family: "InterR", sans-serif;
  line-height: 32px;
  color: #fff;
  text-transform: capitalize;
}
footer > div a span {
  display: inline-block;
  height: 24px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 1024px) {
  footer {
    flex-direction: column-reverse;
    align-items: start;
    bottom: 50px;
    padding: 0 40px;
  }
  footer div {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  footer {
    bottom: 20px;
    padding: 0 20px;
  }
  footer p {
    font-size: 12px;
    letter-spacing: -0.24px;
  }
  footer > div, footer > div a {
    font-size: 15px;
    letter-spacing: -0.3px;
  }
}
@media (max-width: 393px) {
  footer {
    bottom: 20px;
    padding: 0 20px;
  }
  footer > div {
    margin-bottom: 10px;
  }
}
body {
  background-color: #000000;
  height: 100%;
  width: 100%;
  padding: 15px;
}

.page {
  margin: 0 auto;
  background-color: #000000;
  max-width: 1400px;
  width: 100%;
  position: relative;
  color: #ffffff;
  border-radius: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.page::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a[target=_blank] {
  cursor: default;
}

p {
  font-size: 16px;
  font-family: "PoppinsR", sans-serif;
  line-height: 23px;
}

h1 {
  font-size: 90px;
  font-family: "InterB", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 48px;
  font-family: "PoppinsE", sans-serif;
  text-transform: uppercase;
}

h4 {
  font-size: 40px;
  font-family: "PoppinsB", sans-serif;
  line-height: 46px;
  text-transform: uppercase;
}

h5 {
  font-size: 28px;
  line-height: 46px;
  font-family: "PoppinsB", sans-serif;
  text-transform: uppercase;
}

h6 {
  font-size: 24px;
  line-height: 36px;
  font-family: "PoppinsB", sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

li {
  font-size: 16px;
  line-height: 28px;
  font-family: "InterR", sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h6 {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */