.nft-structure {
  padding: 100px 90px;
  position: relative;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile_card {
      display: none;
    }
  }

  h1,
  h6 {
    margin-bottom: 50px;
  }

  h6 {
    color: #9e9dfe;
  }

  h6 + img {
    margin-bottom: 30px;
  }
}

@include desktop() {
  .nft-structure {
    h1,
    h6 {
      margin-bottom: 30px;
    }
    & > div {
      align-items: flex-start;
      flex-direction: column;

      &>div {
        width: 100%;
      }

      .mobile_card {
        display: block;
        margin-bottom: 30px;
      }

      .desk_card {
        display: none;
      }

      .table {
        position: relative;
        display: flex;
        overflow: auto;
        width: 100%;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          width: 0;
        }
        margin-bottom: 30px;


        img {
          max-width: none;
          width: 680px;
          height: auto;
        }
      }
    }
  }
}

@include tablet() {
  .nft-structure {
    padding: 70px 30px 0;

  }
}

@include mobile() {
  .nft-structure {
    & > div {
      .mobile_card{
        width: 83vw;
      }
    }
  }
}
