.nft-collage {
  padding: 0 100px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &> div {

margin-bottom: 70px;
  }

  button {
    align-self: center;
    padding: 25px 30px;
    margin-bottom: 90px;
  }
}