.nft-token {
  padding: 0 100px 90px;

  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  & > p {
    text-align: center;
    max-width: 715px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  & > div {
    display: flex;
    gap: 20px;
  }

  .card-token {
    padding: 15px 25px 20px;
    width: 384px;
    border: 1px solid #282828;
    border-radius: 20px;
    background: rgb(33, 33, 33);
    background: linear-gradient(
      126deg,
      rgba(33, 33, 33, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    h6 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #9e9dfe;
    }

    p {
      font-family: 'InterR', sans-serif;
    }

    // ul {
    //   margin-left: 25px;
    //   line-height: 24px;
    //   font-size: 16px;
    //   li {
    //     list-style: disc;
    //   }
    // }
  }
}

@include laptop() {
  .nft-token {
    h1,
    & > p {
      text-align: left;
    }

    &>div {
      flex-direction: column;

      .card-token {
        width: 100%;
      }
    }
  }
}

@include tablet() {
  .nft-token {
    padding: 70px 30px 0;

  }
}
